
	/* 
	* page width
	*/
	.wrapper.boxed-layout, .wrapper .container{
		width:1170px;
	}	
	body{
		background-color:#ffffff;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
	}
	
	/* 
	* Body color Scheme 
	*/
	body{
		color:#656565;
	}
	h1, h2, h3, h4, h5, h6{
		color:#212121;
	}
	a, .woocommerce ul.cart_list li a{
		color:#212121;
	}
	a:hover, a:focus, #header .header-cart-content .cart-item-detail a:hover, .category-entry:hover .category-content a, .entry-media .post-link:hover a, .woocommerce ul.cart_list li a:hover, .entry-footer a:hover, .entry-title a:hover {
		color:#e86f9d;
	}
	.header-cart-content .cart_list.product_list_widget .cart-box-title, .header-cart-content .cart_list.product_list_widget .empty, .header-cart-content .total, .header-cart-content .cart-product-list{
		color:#656565;
	}
	.product_list_widget .cart-item-detail .quantity, .woocommerce.widget_shopping_cart .total .amount, .header-cart-content .cart-product-list p.total .amount, .woocommerce ul.products .product-entry .product-content .price, .widget .product-price, .widget .product-categories li.current-cat-parent > a, .widget .product-categories li.current-cat-parent > span, .widget .product-categories li.current-cat > a, .widget .product-categories li.current-cat > span, .woocommerce .single-product-entry .product-price .price, .woocommerce .single-product-entry .single_variation .price, .single-product-entry .entry-summary .product-title-price .amount, .single-product-entry .entry-summary .product-title-price del, .single-product-entry .entry-summary .product-title-price ins, .entry-content .more-link, .portfolio-content .more-link, .services ul.services .service-item i, .entry-footer a, .entry-title a, .woocommerce .woocommerce-pagination ul.page-numbers span,.woocommerce .woocommerce-pagination ul.page-numbers a, .woocommerce ul.products .product-buttons .quickview:before, .woocommerce  ul.products .product-image .quickview-button a, .category-content, .category_and_sub_category_box .show-all-cate a, .categories-slider-content.sub_category_box .show-all-cate a, .entry-day, .woocommerce .single-product-entry .entry-summary .product_meta .sku_wrapper span, .woocommerce .single-product-entry .entry-summary .product_meta .brand_in a, .woocommerce .single-product-entry .entry-summary .product_meta .posted_in a, .woocommerce .single-product-entry .entry-summary .product_meta .tagged_as a, article.post .entry-header h2, .comment-list .comment-reply-link, .portfolio-list .portfolioFilter a, .portfolio-skill a, .entry-information ul p i, .portfolio-list .effect4 .portfolio-content, .portfolio-list .effect4 .portfolio-content a, .header-middle .customer-support, .posts-navigation .pagination > li > a, .posts-navigation .pagination > li > span, .search-product-list .search-product-price{
		color:#f79662;
	}
	.product-toolbar .gridlist-toggle > a, .woocommerce ul.products .product-buttons .compare:before, .woocommerce ul.products .product-buttons .add_to_wishlist:before, .woocommerce ul.products .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce ul.products .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products .product-content .product-buttons .quickview:before, .owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next, .single-product-entry  .entry-summary .product-navbar, .woocommerce .single-product-entry .entry-summary .compare, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist a, .single-product-entry .entry-summary .product_meta .brand_in a:hover, .single-product-entry .entry-summary .product_meta .posted_in a:hover, .single-product-entry .entry-summary .product_meta .tagged_as a:hover, .post-navigation a, .header-post-navigation .nav-links li a, .woocommerce .widget_layered_nav ul.yith-wcan-label li a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a, .woocommerce .widget_layered_nav ul.yith-wcan-label li span, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li span, .footer .widget  ul.services .service-icon, .woocommerce ul.products .product-entry .product-content a:hover h3, article .entry-action a{
		color:#e86f9d;
	}
	button, .button, input[type="button"], input[type="reset"], input[type="submit"], .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .widget .tagcloud a:hover, .single-product-entry .thumbnails-carousel .owl-buttons .owl-prev, .single-product-entry .thumbnails-carousel .owl-buttons .owl-next, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce  ul.products .product-content .product-buttons .product-cart a.added_to_cart, .pagination .page-numbers.current, .lmp_load_more_button .lmp_button, .cwallowcookies.button, .entry-content .more-link:hover, .entry-summary .more-link:hover, .portfolio-content .more-link:hover, .entry-media blockquote, .entry-media .post-link, .woocommerce .woocommerce-pagination ul.page-numbers span.current, .woocommerce .woocommerce-pagination ul.page-numbers a:hover, .widget_price_filter .ui-slider .ui-slider-handle, .product-section .section-tab .nav-tabs li a:hover, .product-section .section-tab .nav-tabs li.active a, .testimonials .quote-content p, .testimonials-list .quote-content p, .entry-date .entry-month, .back-to-top, .portfolio-list .portfolioFilter a.current, .portfolio-list .portfolioFilter a:hover, .portfolio-list .effect1 .hentry:hover .portfolio-content, .portfolio-list .effect2 .hentry:hover .portfolio-content, .portfolio-list .effect3 .hentry:hover .portfolio-content, .woocommerce-MyAccount-navigation > ul li a, .header-cart-content .cart-style-1 .cart-icon, .header-cart-content .heading-cart.cart-style-3:before, .posts-navigation .pagination > li:hover > a, .topbar-notification .news-title, .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover, .product-items li.product .product-image .owl-theme .owl-controls .owl-dot.active span, .product-items li.product .product-image .owl-theme .owl-controls.clickable .owl-dot:hover span, .woocommerce  ul.products.product-style3.grid-view li.product:hover .product-buttons .product-cart a, .woocommerce  ul.products.product-style3.product-carousel li.product:hover .product-buttons .product-cart a{
		background-color:#f79662;
	}
	.woocommerce .selectBox-options li.selectBox-selected a{
		background-color:#f79662 !important;
	}
	.category-menu .category-menu-title, button:hover, .button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,  input[type="submit"]:focus, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .single-product-entry .thumbnails-carousel .owl-buttons .owl-prev:hover, .single-product-entry .thumbnails-carousel .owl-buttons .owl-next:hover, .search-control-group .tt-menu .tt-suggestion:hover, .search-control-group .tt-menu .tt-suggestion.is-active, .lmp_load_more_button .lmp_button:hover, .cwallowcookies.button:hover, .cwcookiesmoreinfo.button:hover, .product-toolbar .gridlist-toggle .grid-view.active, .product-toolbar .gridlist-toggle .grid-view:hover, .product-toolbar .gridlist-toggle .list-view.active, .product-toolbar .gridlist-toggle .list-view:hover, .woocommerce ul.products .product-buttons .compare:hover, .woocommerce ul.products .product-buttons .compare.added, .woocommerce ul.products .product-buttons .add_to_wishlist:hover, .woocommerce ul.products .yith-wcwl-wishlistaddedbrowse a, .woocommerce ul.products .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products .product-content .product-buttons .quickview:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .countdown .countdown-section, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist:hover, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist:hover a, .woocommerce .single-product-entry .entry-summary .compare:hover, .single-product-entry .entry-summary .product-prev:hover .product-navbar, .single-product-entry .entry-summary .product-next:hover .product-navbar, .back-to-top:hover, .post-navigation .nav-previous:hover, .post-navigation .nav-next:hover, .header-post-navigation .nav-links li:hover, .portfolio-content .project-url a, .woocommerce-MyAccount-navigation > ul li a:hover, .topbar-cart .cart-count, .header-cart-content .cart-style-2 .cart-count, .header-wishlist .wishlist-count, .header-compare .compare-count, .topbar-cart .cart-count, .header-navigation  .header-cart-content .cart-style-1 .cart-icon, .header-navigation .header-cart-content .heading-cart.cart-style-3:before, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .single-product-entry .thumbnails-carousel .owl-nav .owl-prev, .single-product-entry .thumbnails-carousel .owl-nav .owl-next, .product-items li.product .product-image .owl-nav .owl-prev, .product-items li.product .product-image .owl-nav .owl-next, article .entry-action a:hover{
		background-color:#e86f9d;
	}
	.woocommerce .selectBox-options li.selectBox-hover a{
		background-color:#e86f9d !important;
	}
	.product-section .section-header .section-title h3:before, .widget-section .widget-title h3:before, .testimonials-section .section-header .section-title h3:before, .widget .tagcloud a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product div.products h2 span:before, .cart-collaterals .cross-sells h2 span:before, .social-share h3 span:before, .navigation h3 span:before, .related-posts h3 span:before,.related-portfolios h3 span:before , #yith-wcwl-popup-message, .pagination .page-numbers.current, .entry-content .more-link:hover, .entry-summary .more-link:hover, .woocommerce .woocommerce-pagination ul.page-numbers span.current, .woocommerce .woocommerce-pagination ul.page-numbers a:hover, .product-section .section-tab .nav-tabs li a:hover, .product-section .section-tab .nav-tabs li.active a, .portfolio-list .portfolioFilter a.current, .portfolio-list .portfolioFilter a:hover, .portfolio-list .default_effect .portfolio-content, .related-portfolios .default_effect .portfolio-content, .posts-navigation .pagination > li:hover > a, .newsletter-section .section-header .section-title h3:before, .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
		border-color:#f79662;
	}
	.single-product-entry  .entry-summary .product-next .product-next-popup:before, .single-product-entry  .entry-summary .product-prev:hover .product-prev-popup:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .product-section.products_carousel .section-tab, .post-navigation .nav-next .post-nav-thumb, .header-post-navigation .nav-next .post-nav-thumb, .post-navigation .nav-previous .post-nav-thumb, .header-post-navigation .nav-previous .post-nav-thumb, .header-cart-content .cart-product-list:before{
		border-bottom-color:#f79662 !important;
	}
	.widget li a::before, .topbar-notification .news-title::before{
		border-left-color:#f79662;
	}
	ul.main-navigation .sub-menu, ul.main-navigation .emallshop-megamenu-wrapper, .widget-area .widget, .header-cart-content .cart-product-list, .single-product-entry  .entry-summary .product-next .product-next-popup, .single-product-entry  .entry-summary .product-prev .product-prev-popup, .post-navigation .nav-next .post-nav-thumb:before, .header-post-navigation .nav-next .post-nav-thumb:before, .post-navigation .nav-previous .post-nav-thumb:before, .header-post-navigation .nav-previous .post-nav-thumb:before, .emallshop-main-menu .sub-menu, .emallshop-main-menu .emallshop-megamenu-wrapper, .footer {
		border-top-color:#f79662;
	}
	.product-toolbar .gridlist-toggle .grid-view.active, .product-toolbar .gridlist-toggle .grid-view:hover, .product-toolbar .gridlist-toggle .list-view.active, .product-toolbar .gridlist-toggle .list-view:hover, .woocommerce ul.products .product-content .product-extra-info, .owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover, .blogs_carousel .blog-entry .hentry:hover, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist:hover, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist:hover a, .woocommerce .single-product-entry .entry-summary .compare:hover, .single-product-entry .entry-summary .product-prev:hover .product-navbar, .single-product-entry .entry-summary .product-next:hover .product-navbar, .woocommerce .widget_layered_nav ul.yith-wcan-label li a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a, .woocommerce .widget_layered_nav ul.yith-wcan-label li span, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li span, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .single-product-entry .thumbnails-carousel .owl-item .item.active-item, .single-product-entry .thumbnails-carousel .owl-nav .owl-prev, .single-product-entry .thumbnails-carousel .owl-nav .owl-next{
		border-color:#e86f9d;
	}
	.product-items .list-view li.product:hover{
		border-bottom-color:#e86f9d;
	}
	.woocommerce a.selectBox, .woocommerce .selectBox-dropdown, .selectBox-dropdown-menu li a .woocommerce a.selectBox, .woocommerce a.selectBox:hover, .posts-navigation .pagination > li > a, .posts-navigation .pagination > li > span{
		border-color:#e9e9e9;
	}
	.woocommerce a.selectBox, .woocommerce a.selectBox:hover{
		border-bottom-color:#e9e9e9 !important;
	}
	.product-items .list-view li.product{
		border-bottom-color:#e9e9e9;
	}
	.product-toolbar .gridlist-toggle > a, table, th, td,.emallshop-main-menu .emallshop-vertical-menu, .widget, .secondary .widget > select,.widget .tagcloud a, .widget.yith-woocompare-widget .clear-all, .comment-area-wrap, .comment-avatar img, .comment-respond, .single-product-entry .thumbnails-carousel .owl-item .item, .woocommerce .single-product-entry .entry-summary .quantity .qty, .woocommerce-tabs .panel, .product-section .section-inner, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2, .woocommerce .woocommerce-pagination ul.page-numbers span, .woocommerce .woocommerce-pagination ul.page-numbers a, .related-posts .hentry, .services ul.services .service-item, .testimonials-section .quote-meta  .client-image, .blogs_carousel .blog-entry .hentry, input, textarea, .woocommerce div.product .woocommerce-tabs ul.tabs li, .blog-posts .hentry, .portfolio-list .portfolioFilter a, .portfolio-list .hentry, .related-portfolios .hentry, .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register, .search-area, select, .emallshop-vertical-menu.main-navigation, .navigation.comment-navigation .nav-links, .search-control-group .tt-menu, .header-services .icon-service, .product-section .section-tab .nav-tabs li a, .single-product-entry .images #product-image{	
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.product-items li.product:hover, .product-items li.category-entry:hover, .product-section.products_brands .brands-carousel li.brand-item:hover, .woocommerce ul.products .product-buttons .add_to_wishlist, .woocommerce ul.products .yith-wcwl-wishlistaddedbrowse a, .woocommerce ul.products .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products .product-content .product-buttons .quickview, .woocommerce ul.products .product-buttons .compare, .owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next, .single-product-entry .entry-summary .product-navbar, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist, .post-navigation .nav-previous, .post-navigation .nav-next, .header-post-navigation .nav-links li:hover, .header-post-navigation .nav-links li, article .entry-action a {
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e86f9d;
	}
	.emallshop-main-menu > ul.emallshop-vertical-menu > li > a, .emallshop-main-menu ul.emallshop-vertical-menu .sub-menu li, .widget-title,.widget_rss li, .widget ul.post-list-widget li, .widget ul.product_list_widget li, .portfolio_one_column .entry-portfolio .portfolio-skill, .woocommerce .single-product-entry .entry-summary .cart, .woocommerce div.product div.products h2, .cart-collaterals .cross-sells h2, .social-share h3, .navigation h3, .related-posts h3, .related-portfolios h3, .product-section.categories_and_products .section-title > a h3, .product-section .section-tab .nav-tabs, .product-section .section-tab .nav-tabs li a, .product-section .section-header .section-title, .newsletter-section .section-header .section-title, .testimonials-section .section-header .section-title, .widget-section .widget-title,  .woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .product-toolbar, .product .entry-summary .product-countdown, .portfolio-list .one_column_grid, .portfolio-list .one_column_grid  .portfolio-skill, .emallshop-vertical-menu.main-navigation > li > a, .related-posts h3, .title_with_products_tab.product-section .section-header{
		border-bottom:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.portfolio_one_column .entry-portfolio .portfolio-skill, .woocommerce .single-product-entry .entry-summary .cart, .product-items .category-entry, .woocommerce-pagination, .portfolio-list .one_column_grid  .portfolio-skill, .woocommerce  ul.products .product-content .product-attrs{
		border-top:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.product-items .category-entry{
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.product-section.categories_and_products .section-tab, .categories_and_products.brands-products .section-content, .categories_and_products.only-categories .section-content, .categories_and_products.brands-categories .section-content, .product-section .section-brands .banner-img, .search-control-group .search-bar-controls{
		border-left:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	button, input, select, textarea, button,.button, input[type="button"], input[type="reset"], input[type="submit"], .lmp_load_more_button .lmp_button, ul.main-navigation li a .emallshop-menu-label span, .post-navigation .nav-next .post-nav-thumb, .header-post-navigation .nav-next .post-nav-thumb, .post-navigation .nav-previous .post-nav-thumb, .header-post-navigation .nav-previous .post-nav-thumb, .posts-navigation, ul.social-link li a, .wcaccount-topbar .wcaccount-dropdown, .search-area, .navigation.comment-navigation .nav-links, .selectBox-dropdown-menu.categories-filter-selectBox-dropdown-menu, .search-control-group .tt-menu, .header-cart-content .heading-cart.cart-style-3:before, .header-services .icon-service, .header-cart-content .cart-product-list, .widget .tagcloud a, .widget.yith-woocompare-widget .clear-all, .blog-posts .hentry, .entry-thumbnail .entry-action a, .entry-content .more-link, .entry-summary .more-link, .portfolio-content .more-link, .blogs_carousel .blog-entry .hentry, .entry-date, .comment-area-wrap, .comment-respond, .comment-avatar img, .woocommerce-tabs #reviews .comment-text, .comment-list, .woocommerce #content div.product #reviews .comment img, .woocommerce div.product #reviews .comment img, .woocommerce-page #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img, .related-posts .hentry, .testimonials-section .quote-content p, .testimonials-section .quote-meta  .client-image, .testimonials .quote-content p, .testimonials-list .quote-content p, .product-section.products_brands .brands-carousel .slide-row li.brand-item, .countdown .countdown-section, .emallshop-notice-wrapper, .category-content, .woocommerce .selectBox-dropdown, .selectBox-dropdown-menu li a .woocommerce a.selectBox, .woocommerce a.selectBox:hover, .product-items li.product, .product-items li.category-entry, .woocommerce  ul.products.product-style2 .product-content .product-buttons .compare, .woocommerce  ul.products.product-style2 .product-content .product-buttons .add_to_wishlist, .woocommerce  ul.products.product-style2 .product-content .yith-wcwl-wishlistaddedbrowse a, .woocommerce  ul.products.product-style2 .product-content .yith-wcwl-wishlistexistsbrowse a, .woocommerce  ul.products.product-style2 .product-content .product-buttons .quickview, .woocommerce  ul.products.product-style1 .product-content .product-buttons .compare, .woocommerce  ul.products.product-style1 .product-content .product-buttons .add_to_wishlist, .woocommerce  ul.products.product-style1 .product-content .yith-wcwl-wishlistaddedbrowse a, .woocommerce  ul.products.product-style1 .product-content .yith-wcwl-wishlistexistsbrowse a, .woocommerce  ul.products.product-style1 .product-content .product-buttons .quickview, .woocommerce  ul.products.product-style2 .product-content .product-buttons .product-cart a, .woocommerce  ul.products.product-style1 .product-content .product-buttons .product-cart a, .woocommerce ul.products.product-style3.list-view .product-buttons .product-cart a, .woocommerce ul.products.product-style3.list-view .product-buttons .compare, .woocommerce ul.products.product-style3.list-view .product-buttons .add_to_wishlist, .woocommerce ul.products.product-style3.list-view .yith-wcwl-wishlistaddedbrowse a, .woocommerce ul.products.product-style3.list-view .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products.product-style3.list-view .product-content .product-buttons .quickview, .woocommerce ul.products.product-style3.list-view .product-content .product-buttons .product-cart a, .single-product-entry .images #product-image, .single-product-entry .thumbnails-carousel .owl-item .item, .single-product-entry  .entry-summary .product-next .product-next-popup, .single-product-entry  .entry-summary .product-prev .product-prev-popup, .woocommerce table.shop_table, .woocommerce .cart_totals, .woocommerce-checkout .order_review,  .order_details-area, .customer-details-area, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register, .woocommerce-MyAccount-navigation > ul li a, .portfolio-list .hentry, .related-portfolios .hentry, .portfolio-content .project-url a, .woocommerce .single-product-entry .entry-summary .yith-wcwl-add-to-wishlist, .woocommerce .single-product-entry .entry-summary .compare, .portfolio-list .portfolioFilter a, .widget-area .widget, .single-product-entry .thumbnails-carousel .owl-nav .owl-prev, .single-product-entry .thumbnails-carousel .owl-nav .owl-next, .content-area .rev_slider_wrapper li.tp-revslider-slidesli, div.wpb_single_image .vc_single_image-wrapper img, .post-slider.owl-carousel .owl-nav .owl-prev, .post-slider.owl-carousel .owl-nav .owl-next, #cookie-notice.cn-bottom.box, .category-banner-content .category-banner, .newsletter-content.modal-content, .wpb_wrapper .vc_single_image-wrapper{
		border-radius: 3px;
	}
	.topbar-notification .news-title, .header-cart-content .cart-style-1 .cart-icon, .owl-theme .owl-nav .owl-prev, .services ul.services .service-item:first-child, .product-toolbar .gridlist-toggle > a:first-child, .woocommerce .woocommerce-pagination ul.page-numbers li:first-child .page-numbers, .product-items li.product .product-image .owl-nav .owl-prev, .single-product-entry .product-prev .product-navbar, .header-post-navigation .nav-links li:first-child{
		border-radius:3px 0 0 3px;
	}
	.search-area .search-bar-controls .search-btn, .header-cart-content .cart-style-1 .cart-count, .owl-theme .owl-nav .owl-next, .services ul.services .service-item:last-child, .product-toolbar .gridlist-toggle > a:last-child, .woocommerce .woocommerce-pagination ul.page-numbers li:last-child .page-numbers, .product-items li.product .product-image .owl-nav .owl-next, .single-product-entry .product-next .product-navbar, .header-post-navigation .nav-links li:last-child{
		border-radius:0 3px 3px 0;
	}
	.back-to-top, .product-section .section-tab .nav-tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li, .vertical-menu-section .category-menu .category-menu-title{
		border-radius:3px 3px 0 0;
	}
	.woocommerce  ul.products .product-content .product-extra-info, .woocommerce div.product .woocommerce-tabs .panel{
		border-radius: 0 0 3px 3px;
	}
	.pagination > li:last-child > a, .pagination > li:last-child > span{
		border-bottom-right-radius: 3px;
		border-top-right-radius:3px;	
	}
	.pagination > li:first-child > a, .pagination > li:first-child > span{
		border-bottom-left-radius:3px;
		border-top-left-radius:3px;
	}
	::-webkit-input-placeholder {
	   color:#656565;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color:#656565;
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color:#656565;
	}
	:-ms-input-placeholder {  
	   color:#656565;
	}
	
	
	@media only screen and (max-width : 480px) {
		.woocommerce-cart table.cart tr, .woocommerce table.wishlist_table tbody tr{
			border-top:1px;
			border-bottom:1px;
			border-left:1px;
			border-right:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
		.woocommerce-cart table.cart tr:last-child, .woocommerce table.wishlist_table tbody tr:last-child{
			border-bottom:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
	}
	@media (min-width:480px) and (max-width:620px){
		.woocommerce-cart table.cart tr, .woocommerce table.wishlist_table tbody tr{
			border-top:1px;
			border-bottom:1px;
			border-left:1px;
			border-right:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
		.woocommerce-cart table.cart tr:last-child, .woocommerce table.wishlist_table tbody tr:last-child{
			border-bottom:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
	}
	@media only screen and (max-width : 991px) {
		.section-sub-categories{
			border-top:1px;
			border-bottom:1px;
			border-left:1px;
			border-right:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
		.section-sub-categories{
			border-radius:3px;
		}
	}
	/* @media only screen and (max-width : 1199px) {
		.header-middle .mobile-main-navigation, .header-middle .mobile-main-navigation .toggle-menu h4{
			color:#f79662;
		}
	} */
	
	/*
	* topbar color scheme
	*/
	.header-topbar, .wcaccount-topbar .wcaccount-dropdown{
		background-color:#ffffff;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#656565;
	}
	.header-topbar input[type="textbox"], .header-topbar input[type="email"], .header-topbar select, .header-topbar textarea{
		background-color:#ffffff;
		color:#656565;
	}
	.header-topbar a{
		color:#212121;
	}
	.header-topbar a:hover{
		color:#e86f9d;
	}
	.header-topbar a:active{
		color:#e86f9d;
	}
	.header-topbar ::-webkit-input-placeholder {
	   color:#656565;
	}
	.header-topbar :-moz-placeholder { /* Firefox 18- */
	  color:#656565;
	}
	.header-topbar ::-moz-placeholder {  /* Firefox 19+ */
	   color:#656565;
	}
	.header-topbar :-ms-input-placeholder {  
	   color:#656565;
	}
	.header-topbar input[type="textbox"], .header-topbar input[type="email"], .header-topbar select, .header-topbar textarea{
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.header-topbar, .wcaccount-topbar .wcaccount-dropdown > li {
		border-bottom:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.topbar-right > span:last-child{
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.topbar-right > span{
		border-left:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	
	@media only screen and (max-width : 480px) {
		.header-topbar .topbar-right{
			border-top:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
	}
	@media (min-width: 481px) and (max-width: 767px) {
		.header-topbar .topbar-right{
			border-top:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
	}
	
	/*
	* header color scheme
	*/
	.header-middle{
		background-color:#3b589c!important;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#656565;
	}
	.header-middle .header-right > span > a, .header-middle .header-cart.cart-style-2 > a, .header-middle .header-cart-content .heading-cart.cart-style-3 h6, .header-middle .header-cart-content .heading-cart.cart-style-3 a, .header-middle .header-cart-content .heading-cart.cart-style-3 h6, .header-services .content-service h6{
		color:#656565;
	}
	.header-middle .search-area, .woocommerce .header-middle .search-bar-controls a.selectBox{
		background-color:#ffffff;
	}
	.header-middle .search-area .search-field, .header-middle .search-bar-controls a.selectBox{
		color:#656565;
	}
	.header-middle a{
		color:#212121;
	}
	.header-middle a:hover, .header-middle .header-right > span > a:hover, .header-middle .header-cart.cart-style-2 > a:hover{
		color:#e86f9d;
	}
	.header-middle a:active{
		color:#e86f9d;
	}
	.header-middle ::-webkit-input-placeholder {
	   color:#656565;
	}
	.header-middle :-moz-placeholder { /* Firefox 18- */
	  color:#656565;
	}
	.header-middle ::-moz-placeholder {  /* Firefox 19+ */
	   color:#656565;
	}
	.header-middle :-ms-input-placeholder {  
	   color:#656565;
	}
	.header-middle .search-area, .header-middle .header-cart-content .cart-style-1 .cart-count, .header-services .icon-service{
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	/*.header-middle{
		border-bottom:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}*/
	.header-middle .search-control-group .search-bar-controls, .header-middle ul.emallshop-horizontal-menu.main-navigation > li{
		border-left:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.header-middle ul.emallshop-horizontal-menu.main-navigation > li:last-child{
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	@media only screen and (min-width : 1200px) {
		.header-middle ul.main-navigation > li > a{
			color:#212121;
		}
		.header-middle ul.main-navigation > li > a:hover{
			color:#e86f9d;
		}
		.header-middle ul.main-navigation > li > a:active{
			color:#e86f9d;
		}
	}
	
	/*
	* navigation bar color scheme
	*/
	.header-navigation{
		background-color: #e86fad;;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#ffffff;
	}
	.header-navigation .category-menu .category-menu-title h4, .header-navigation .category-menu .category-menu-title, .header-navigation .header-cart-content .heading-cart.cart-style-3 h6, .header-navigation .header-cart-content .heading-cart.cart-style-3 a{
		color:#ffffff;
	}
	.header-navigation .category-menu .category-menu-title, .header-navigation .search-area .search-bar-controls .search-btn {
		background-color:#e86f9d;
	}
	.header-navigation .search-area, .woocommerce .header-navigation .search-bar-controls a.selectBox{
		background-color:#ffffff;
	}
	.header-navigation .search-area .search-field, .header-navigation .search-bar-controls a.selectBox{
		color:#656565;
	}
	.header-navigation a{
		color:#ffffff;
	}
	.header-navigation a:hover{
		color:#ffffff;
	}
	.header-navigation a:active{
		color:#ffffff;
	}
	.header-navigation ::-webkit-input-placeholder {
	   color:#656565;
	}
	.header-navigation :-moz-placeholder { /* Firefox 18- */
	  color:#656565;
	}
	.header-navigation ::-moz-placeholder {  /* Firefox 19+ */
	   color:#656565;
	}
	.header-navigation :-ms-input-placeholder {  
	   color:#656565;
	}
	.header-navigation .search-area, .header-navigation .header-cart-content .cart-style-1 .cart-count{
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.header-navigation ul.emallshop-horizontal-menu.main-navigation > li{
		border-left:1px;
		border-style:solid;
		border-color:#e86fad;
	}
	.header-navigation ul.emallshop-horizontal-menu.main-navigation > li:last-child{
		border-right:1px;
		border-style:solid;
		border-color:#e86fad;
	}
	
	
	/*
	* Menu color scheme
	*/
	ul.main-navigation .sub-menu, ul.main-navigation .emallshop-megamenu-wrapper, ul.main-navigation .toggle-submenu{
		background-color:#ffffff;
		color:#656565;
	}
	ul.main-navigation .sub-menu li a, ul.main-navigation .emallshop-megamenu-title a, .emallshop-megamenu-wrapper .emallshop-megamenu-submenu .widget li a{
		color:#212121;
	}
	ul.main-navigation .sub-menu li a:hover, ul.main-navigation .emallshop-megamenu-title a:hover, .emallshop-megamenu-wrapper .emallshop-megamenu-submenu .widget li a:hover{
		color:#e86f9d;
	}
	ul.main-navigation .sub-menu li a:active, ul.main-navigation .emallshop-megamenu-title a:active, .emallshop-megamenu-wrapper .emallshop-megamenu-submenu .widget li a:action{
		color:#e86f9d;
	}
	ul.main-navigation .sub-menu li, ul.main-navigation .widget_rss li, ul.main-navigation .widget ul.post-list-widget li{
		border-bottom:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	ul.main-navigation .emallshop-megamenu-wrapper .emallshop-megamenu > li{
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	
	@media only screen and (max-width : 1199px) {
		ul.main-navigation li a:hover{
			color:#e86f9d;
		}
		.emallshop-main-menu ul.main-navigation li a{
			border-bottom:1px;
			border-style:solid;
			border-color:#e9e9e9;
		}
	}
	
	/*
	* Page heading color scheme
	*/
	#header .page-heading{
		background-color:#FCFCFC;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#656565;
	}
	.page-heading .page-header .page-title{
		color:#212121;
	}
	#header .page-heading{
		border-bottom:1px;
		border-style:solid;
		border-color:#f5f5f5;
	}
	.page-heading a{
		color:#212121;
	}
	.page-heading a:hover{
		color:#e86f9d;
	}
	
	/*
	* footer color scheme
	*/
	.footer .footer-top, .footer .footer-middle{
		background-color:#3b589c!important;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#656565;
	}
	.footer .widget-title{
		color:white;
	}
	.footer input[type="textbox"], .footer input[type="email"], .footer select, .footer textarea{
		background-color:#ffffff;
		color:#656565;
	}
	.footer .footer-top a, .footer .footer-middle  a{
		color:white;
	}
	.footer .footer-top a:hover, .footer .footer-middle a:hover{
		color:#e86f9d;
	}
	.footer .footer-top a:active, .footer .footer-middle a:active{
		color:#e86f9d;
	}
	.footer ::-webkit-input-placeholder {
	   color:#656565;
	}
	.footer :-moz-placeholder { /* Firefox 18- */
	  color:#656565;
	}
	.footer ::-moz-placeholder {  /* Firefox 19+ */
	   color:#656565;
	}
	.footer :-ms-input-placeholder {  
	   color:#656565;
	}
	.footer input[type="textbox"], .footer input[type="email"], .footer select, .footer textarea{
		border-top:1px;
		border-bottom:1px;
		border-left:1px;
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	.footer .footer-top, .footer .footer-middle{
		border-bottom:1px;
		border-style:solid;
	    border-color: rgba(224, 203, 203, 0.08);
	}
	.footer .popular-categories .categories-list li{
		border-right:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	/*
	* Copyright color scheme
	*/
	.footer-copyright{
		background-color:#3b589c;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#656565;
	}
	.footer-copyright a{
		color:#212121;
	}
	.footer-copyright a:hover{
		color:#e86f9d;
	}
	.footer-copyright a:active{
		color:#e86f9d;
	}
	.footer-copyright{
		border-bottom:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	/*
	* General color scheme
	*/
	.product .product-highlight .out-of-stock span{
		background-color:#FF4557;
	}
	.product .product-highlight .onsale span{
		background-color:#60BF79;
	}
	.product .product-highlight .new span{
		background-color:#48c2f5;
	}
	.product .product-highlight .featured span{
		background-color:#ff781e;
	}
	
	.yit-wcan-container .yith-wcan-loading {
		background: url(wp-content/themes/emallshop/admin/images/ajax-loader.gif) no-repeat center;
	}
	
	/*
	* Newsletter Color
	*/
	.newsletter-content.modal-content{
		background-color:#0ba2e8;
		background-image:url();
		background-repeat:;
		background-size:;
		background-attachment:;
		background-position:;
		color:#ffffff;
	}
	.newsletter-content .close, .newsletter-content .newsletter-text > h1{
		color:#ffffff;
	}
	.newsletter-content .mc4wp-form-fields input[type="submit"]{
		background-color:#FF8400;
	}